@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root * {
  --font-family: "Roboto", sans-serif;
  --second-family: "Coda Caption", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1vw;
}

.container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding: 4.6vw 0;
  /*border: 3px solid rgb(18, 216, 64);*/
}

/*intro*/
.intro {
  height: 99.8vh;
  border: 1px solid black;
  background-image: url(./assets/main_bg.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    margin-top: 2.5vw;
    margin-bottom: 1vw;
    width: 10vw;
  }

  .logo-title {
    color: white;
    font-family: "Roboto", serif;
  }

  h1,
  .big-yellow {
    color: #f9bf3b;
    font-weight: 900;
    font-size: 2vw;
  }

  .big-white {
    color: white;
    font-size: 3vw;
  }

  .big-white::before,
  .big-white::after {
    content: "";
    display: inline-block;
    border: 0.1vw solid white;
    width: 15vw;
    margin: 1vw;
  }

  .head_text {
    color: white;
    max-width: 900;
    font-size: 1vw;
  }

  .yellow {
    color: #f9bf3b;
  }

  .subscribe {
    color: white;
    font-family: "Coda", serif;
    text-decoration: none;
    background-color: #2798b9;
    padding: 2vw;
    display: inline-block;
    margin-top: 2vw;
    font-size: 1vw;
    border-radius: 5px;
  }

  .about {
    margin-top: 5vw;
    color: white;
  }

  .down {
    width: 2vw;
  }
}

/*section expectations*/
.expectations {
  background-color: #efefef;
  h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #252525;
  }
  .divider{
    width: 11.5vw;
    height: 0.2vw;
    background-color: #F9BF3B;
    margin: 1vw auto;
  }

  h3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 87%;
    text-align: center;
    color: #4a4a4a;
  }

  .expectations-cards{
    display: flex;
    justify-content: center;
    align-items: center;


  figure{
    width: 19.3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }    

  img{
    width: 15vw;
  }

  figcaption{
    font-size: 0.8vw;
    color: #4a4a4a;
  }
  }
}

/*optimisation*/
.optimisation {
  max-width: 92vw;
  height: 516px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optimisation-img {
  max-width: 31.53vw;
  margin-left: 10vw;
  margin-right: 1vw;
}

.optimisation_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 18vw; 
}

.optimisation_h2 {
  font-family: var(--font-family);
  font-weight: 30vw;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #272424;
}

/* section achievments*/
.achievments{
  background-image: url(./assets/second_bg.svg);
  background-position: center;
  background-size: cover;


h2{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #efefef;
}

.divider{
  width: 11.5vw;
  height: 0.2vw;
  background-color: #F9BF3B;
  margin: 1vw auto;
}

.achievments-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0;


  figure{
    width: 19.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img{
      width: 3vw;
      height: 3vw;
      padding: 1vw;
      background-color: #B4E2FF;
      border-radius: 100%;
      margin-bottom: 1vw;
    }

    figcaption{
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 0.8vw;
      line-height: 118%;
      text-align: center;
      color: #efefef;
      height: 1.6vw;
      width: 10vw;
    }
  }
}
}

/*subscribe*/
.subscribe{
  background-color: #EFEFEF;
  border-radius: 2.2vw;
  
img{
  width: 17.7vw;
}
p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6vw;
  text-align: center;
  color: #252525;
  margin-bottom: 1.6vw;
}

a{
  display: inline-block;
  text-decoration: none;
  border-radius: 1.3vw;
  width: 17.7vw;
  height: 5.7vw;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);

  font-family: var(--second-family);
  font-weight: 800;
  font-size: 1.3vw;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  padding: 1vw 4vw;
}
}

.data{
  display: flex;
  justify-content: center;
  align-items: center;

img{
  width: 17.7vw;
  margin-left: 6vw;
}

h4{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6vw;
  text-transform: uppercase;
  text-align: center;
  color: #252525;
  margin-bottom: 1vw;
}

h3{
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 1.8vw;
  text-transform: uppercase;
  text-align: center;
  color: #299cbd;
  margin-bottom: 1vw;
}
p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.1vw;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 2vw;
}

}

.footer{
  height: 9vw;
  background-color: black;
  display: flex;
  align-items: center;
  
  justify-content: center;

p{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 140%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #888;
}
}